.profile-page {
  background: #f8f8f8;
  min-height: 100%;

  .center {
    max-width: var(--width-page-max);
    margin: 0 auto;
    padding: 0 12px;
  }

  .up-side {
    background: #fff;
    padding-bottom: 20px;
  }

  .down-side {
    padding-top: 12px;
    @media (min-width: 875px) {
      width: 875px;
      margin: 0 auto;
    }
  }

  .slot_1 {
    margin-top: 64px;
  }

  .slot_2 {
    margin-top: 20px;
  }
}
