.profile-page {
  background: #f8f8f8;
  min-height: 100%;
  position: relative;

  .center {
    max-width: var(--width-page-max);
    margin: 0 auto;
    padding: 0 12px;
  }

  .up-side {
    background: #fff;
    padding-bottom: 20px;
  }

  .down-side {
    padding-top: 12px;
    @media (min-width: 875px) {
      width: 875px;
      margin: 0 auto;
    }
  }

  .slot_1 {
    margin-top: 72px;
  }

  .slot_2 {
    margin-top: 20px;
  }

  .icon-sendfasong {
    margin-right: 12px;
    font-size: 16px;
  }

  .profile-setting {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;

    .profile-setting-btn {
      margin-left: 10px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #272928;
    }
  }
}
